#macOS
.DS_Store

# dependencies
node_modules/

# build output
dist/

# Support Tools
scripts/
xWORKING/
*dropin*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# editors
.vscode/
.idea/

# Node Builds
builds/

# misc
.env
.env.*